.footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  margin: 1rem 0;
  bottom: 0;
  font-size: 0.9rem;
  line-height: 1.25rem;
}
